@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "e-ballot";
    default: true;
    prefersdark: true;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(0.52 0.08 176.23);
    --color-primary-content: oklch(98% 0 0);
    --color-secondary: oklch(0.39 0.07 217.51);
    --color-secondary-content: oklch(98% 0 0);
    --color-accent: oklch(0.98 0.03 161.89);
    --color-accent-content: oklch(0.81 0.02 196.7);
    --color-neutral: oklch(14% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(98% 0 0);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(98% 0 0);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}